.about-container {
	margin-top: 30px;
	margin-bottom: 100px;
}

.about-text {
	color: rgba(255, 255, 255);
	margin: auto;
	margin-top: 33%;
	font-family: "Oleo Script Swash Caps", cursive;
	font-size: 40px;
}

.about-text-name {
	color: rgb(255, 255, 255);
	margin: auto;

	font-family: "Oleo Script Swash Caps", cursive;
	font-size: 20px;
}

.about-img {
	max-width: 100%;
	margin: auto;
	margin-top: 40px;
}
