.about-container {

}

.textcontainer {
	background-color: rgba(0, 0, 0, 0.736);

}
.about-text {
	color: rgba(255, 255, 255);
	padding: 20px;
	margin-top: 2rem;
	font-size: 20px;
	font-family: 'Major Mono Display', monospace;
}

.about-text-name {
	margin-bottom: 2rem;
	color: rgb(255, 255, 255);
	padding: 20px;
	font-style: italic;
	font-family: 'Major Mono Display', monospace;
	font-size: 10px;
}

.about-img {
	width: 95%;
	
}


  @media screen and (min-width: 1200px) {

    .about-text {
		font-size: 40px;
		}
		.about-text-name{
			font-size: 20px;
		}
  };
